<!DOCTYPE html>
<html lang="en">

<head>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="../scripts/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script src="../scripts/html2canvas.min.js"></script>
  <script src="../scripts/jsPDF.js"></script>

  <!-- <script src="../HomeLoanChecklist/node_modules/accounting-js/lib/formatMoney.js"></script> -->

  <script src="../scripts/moment.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="../scripts/accountingJSmin.js"></script>
{{!-- <link rel="stylesheet" href="/HomeLoanChecklist/css/all.css"> --}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



  <script src="../scripts/bootstrap.bundle.min.js"></script>
  {{!-- <script src="../HomeLoanChecklist/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> --}}

  {{!-- <script src="../HomeLoanChecklist/node_modules/chart.js/dist/Chart.js"></script> --}}
  {{!-- <script src="../HomeLoanChecklist/node_modules/chart.js/dist/Chart.bundle.js"></script> --}}
  <script src="../scripts/Chart.bundle.min.js"></script>
  <script src="../scripts/Chart.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-storage.js"></script>

  <link rel="stylesheet" href="../css/style2.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Loan Check- List2</title>
</head>
<style>
  #loadingScreen {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.65s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<body>
  <div id="loadingScreen">
      <div id="loader" class="loader"></div>
      <div style="margin-top: 25px;">
        <h3 id="progressText" style="color: #fafafa;margin-top: 30px" >...</h3>
        <div style="margin-top : 25px;"><progress id="progressBar" value="0" max="100"></progress><b id="progressPercentage" style="color: white;margin-left: 25px" id="progressValue"></b></div>
        <a href="/view-reports" id="viewReport" style="display: none;" class="btn btn-success">View</a>
      </div>  
  </div>
  <input id='TEST_btn' type="button" value="GET Your Report" onclick="storeLoandata();ProposalGen()">

  <input id='TEST_btn2' type="button" value="GET Your Report 2" onclick="printPDF()">
  <input id='TEST_btn2' type="button" value="GET Your Report 3" onclick="getPDF()">


  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="#">The Mortgage Consultant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active" style="display: none">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active logged-in" style="display: none">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-account">Account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active logged-in" style="display: none">
          <a id='logout' class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
        </li>
        <li class="logged-out" style="display: none">
          <a id='login' class="nav-link" href="#" tabindex="-1" data-toggle="modal" data-target="#modal-login">LogIn <span class="sr-only">(current)</span></a>
        </li>

        <li class="logged-out" style="display: none">
          <a class="nav-link " href="#" tabindex="-1" data-toggle="modal" data-target="#modal-signup">Sign up</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <div class="container" id="entireSite">
    <form id="masterForm" action="#">
      <!-- Name and Search -->
      <div id="NameandSearch" class="d-flex justify-content-center">

        <!-- <div><h2>The Mortgage Consultant</h2></div> -->
        <div class="row col-lg-12 col-md-12  mb-4">
          <input type="text" class="form-control" placeholder="What address are you interested in?" id="inputPassword">
        </div>
      </div>

      <!-- Transaction Cards -->
      <div class="row" id="TransactionCards">
        <img class="mb-3" id="heropic" src="../img/iStockTest.png" alt="" srcset="">
        <div class="col-lg-3 col-md-12 mb-4  col-12-sm">
          <div class="card">
            <img src="../img/1fff.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Transaction Type</h5>
              <p class="card-text">....</p>
              <div class="col ">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="TransactionType" id="Purchase" value="Purchase" onclick="TransactionTypePurchase(); tenYts()" checked="true">
                  <label class="form-check-label" for="Purchase">
                    Purchase
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="TransactionType" id="Refinance" value="Refinance" onclick="TransactionTypeRefinance()">
                  <label class="form-check-label" for="Refinance">
                    Refinance
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="TransactionType" id="Heloc" value="Heloc" onclick="TransactionTypePurchase()">
                  <label class="form-check-label" for="Heloc">
                    Home Equity Line of Credit
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-4 col-12-sm">
          <div class="card">
            <div id="card_2_img">
              <img src="../img/1fff.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Property Type</h5>
              <p class="card-text">....</p>
              <form>
                <div id="Property_Type" class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="PropertyType" id="sfr" value="Single Family Home" checked="true">
                    <label class="form-check-label" for="sfr">
                      Single Family Home
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="PropertyType" id="twn" value="Townhome">
                    <label class="form-check-label" for="twn">
                      Townhome
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="PropertyType" id="cond" value="Condominium">
                    <label class="form-check-label" for="cond">
                      Condominium
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="PropertyType" id="mf" value="Multi-Family" disabled>
                    <label class="form-check-label" for="exampleRadios4">
                      Multi-Family
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-12 mb-4 col-12-sm">
          <div class="card">
            <img src="../img/1fff.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Occupancy</h5>
              <p class="card-text">....</p>
              <div class="col ">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Occupancy" id="PrimaryHome" value="Primary Home" checked="true">
                  <label class="form-check-label" for="PrimaryHome">
                    Primary Home
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Occupancy" id="VacationHome" value="Vacation Home">
                  <label class="form-check-label" for="VacationHome">
                    Vacation Home
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Occupancy" id="InvestmentProperty" value="Investment Property">
                  <label class="form-check-label" for="InvestmentProperty">
                    Investment Property
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="col-lg-3 col-md-12 mb-4 col-12-sm">
          <div class="card">
            <img src="../img/1fff.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Loan Terms</h5>
              <p class="card-text">...</p>
              <div class="col ">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="LoanTerms" id="_10Years" value="10 Years">
                  <label class="form-check-label" for="_10Years">
                    10 Years <span></span>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="LoanTerms" id="_15Years" value="15 Years">
                  <label class="form-check-label" for="_15Years">
                    15 Years <span></span>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="LoanTerms" id="_20Years" value="20 Years">
                  <label class="form-check-label" for="_20Years">
                    20 Years <span></span>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="LoanTerms" id="_30Years" value="30" checked="true">
                  <label class="form-check-label" for="_30Year">
                    30 Years <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Purchase 3 question-->

      <div id="purchasePreQual">
        <div class="container">
          <form>
            <div class="form-group row">
              <!--#1-->
              <!-- <label for="staticEmail" class="col-1 col-form-label">Purchase Price</label> -->

              <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control PurchasePrice" placeholder="Purchase Price" id="PurchasePrice">
              </div>

              <!-- <label for="inputPassword" class="col-1 sm-1 col-form-label">Down Payment</label> -->
              <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control DownPayment" placeholder="Down Payment" id="DownPayment">
              </div>

              <!-- 
              <div class="col-lg-2 col-md-3 col-xs input-group mb-3 input-group-prepend">
                <input type="range" class="custom-range" min="3%" max="80%" id="DownPaymentPercent">
              </div> -->



              <!-- <label for="staticEmail" class="col-1 col-form-label">Loan Amount</label> -->
              <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Loan Amount" id="LoanAmount">
              </div>
              <!-- <label for="staticEmail" class="col-1 col-form-label">Loan Amount</label> -->




              <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">%</span>
                </div>
                <input type="text" class="form-control" placeholder="Interest Rate" id="InterestRate" required>
              </div>






            </div>
          </form>
        </div>
      </div>

      <!--Refi and HELOC Questions-->
      <div class="container" id="Refi">
        <form>
          <!--#2-->
          <div class="form-group row">

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Original Purchase Price" id="OriginalPurchasePrice_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Home Value" id="HomeValue_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mortgage Balance" id="MortgageBalance_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mortgage Payment" id="MortgagePayment_refi">
            </div>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Interest Rate" id="InterestRate_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Property Taxes" id="PropertyTaxes_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Homeowners Insurance" id="HomeownersInsurance_refi">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="HOA Dues" id="HOADues_refi">
            </div>
          </div>
        </form>
      </div>



      <!--#6---Transaction Type-->
      <div id="TransactionApplicant" class="container">
        <div class="row justify-content-between">
          <div class="a col-lg-3">
            <p class="CurrentResidency">Applicant(s)<p>
                <div class=" row form-group">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Num_applicants" id="SingleRadio" value="Single" onclick="TransactionApplicant()" checked="true">
                    <label class="form-check-label" for="SingleRadio">Single</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Num_applicants" id="JointRadio" value="Joint" onclick="TransactionApplicantJoint()">
                    <label class="form-check-label" for="JointeRadio">Joint</label>
                  </div>

                  <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3">Other</label>
                              </div> -->
                </div>
          </div>
          <div id='Current_Residency' class="z col-lg-3">
            <p class="CurrentResidency">Current Residency<p>
                <div class=" row form-group">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CurrentResidency" id="Own" value="Own">
                    <label class="form-check-label" for="inlineRadio1">Own</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CurrentResidency" id="Rent" value="Rent">
                    <label class="form-check-label" for="inlineRadio2">Rent</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CurrentResidency" id="Other" value="Other" checked="true">
                    <label class="form-check-label" for="inlineRadio3">Other</label>
                  </div>
                </div>
          </div>
          <div class="z col-lg-3">
            <p class="CurrentResidency">Real Estate Own<p>
                <div class=" row form-group">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Real_Estate_Own" id="Plus_1" value=0 checked="true">
                    <label class="form-check-label" for="Plus_1">None</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Real_Estate_Own" id="Plus_2" value=2>
                    <label class="form-check-label" for="Plus_2">+1</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Real_Estate_Own" id="Plus_3" value=3>
                    <label class="form-check-label" for="Plus_3">+2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Real_Estate_Own" id="Plus_3" value=4>
                    <label class="form-check-label" for="Plus_3">+3</label>
                  </div>
                </div>
          </div>
        </div>
      </div>



      <!--B1 Jod/Income-->
      <div class="container" id="ApplicantEmployer">
        <form class="needs-validation" novalidate>



          <div class="row form-group">
            <!--Applicant-Employer Jod info START-->
            <div class="col-lg-3 col-md-3 col-xs input-group mb-3">
              <input type="text" class="form-control" placeholder="Applicant-Employer" id="Applicant-Employer">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3">
              <input type="text" class="form-control" placeholder="Job title" id="Applicant-Job-title">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 input-group mb-3">
              <input type="text" class="form-control" placeholder="Time on Job" id="Time-on-Job">
            </div>
            <!--Applicant-Employer Jod info ENDS-->

            <!--Applicant-Employer Jod INCOME info START-->
            <div class="col-lg-3 col-md-3 col-sm-6 input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mthly. Income" id="ApplicantIncome" required>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>



            <!--Applicant-Other Income START-->
            <div class="col-lg-4 col-md-6 col-xs mb-3 input-group input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">Other Income</span>
              </div>
              <input type="text" class="form-control" placeholder="Other income source" id="applicant_other_income_type" onfocus="this.value=' ' ">
            </div>


            <div class="col-lg-4 col-md-6 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mthly. Income" id="applicant_other_income_type_amt" onfocus="this.value=' ' ">
            </div>

            <div class="col-lg-2 col-md-12 col-xs btn-group mb-3 input-group-prepend">
              <button onclick="addItem()" class="btn btn-primary btn-sm" type="button">Add Income</button>
            </div>

            <div class="col-lg-2 col-md-12 col-xs btn-group mb-3 input-group-prepend">
              <button onclick="removeItem()" class="btn btn-danger btn-sm" type="button">Remove Income</button>
            </div>


            <div>
              <ul id="dynamic-list"></ul>
              <p id="b1_otherIncome"></p>

            </div>


            <div class="row input-group">

              <div id="appAssetDIV" class="col-lg-6 col-md-6 col-xs mb-3 input-group input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Total Assets" id="b1TotalAssets">
              </div>

              <div id="appLiabilitiesDIV" class="col-lg-6  mb-3  input-group input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Total Mthly. Liabilities" id="b1TotalMonthlyLiabilities">
              </div>

            </div>


          </div>
        </form>
      </div>







      <!--B2 Jod/Income-->
      <div class=" needs-validation container Co-Applicant-Employer" id="Co-Applicant-Employer">
        <form class="needs-validation" novalidate>

          <div class="row form-group">

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3">
              <input type="text" class="form-control" placeholder="Co-Applicant-Employer" id="CoApplicantEmployer">
            </div>

            <div class="col-lg-3 col-md-3 col-xs input-group mb-3">
              <input type="text" class="form-control" placeholder="Job title" id="CoApplicant-Job-title">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 input-group mb-3">
              <input type="text" class="form-control" placeholder="Time on Job" id="CoTime-on-Job">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mthly. Income" id="CoApplicantIncome" required>
            </div>

            <!--CoApplicant-Other Income START-->
            <div class="col-lg-4 col-md-6 col-xs mb-3 input-group input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">Other income</span>
              </div>
              <input type="text" class="form-control" placeholder="Other income1 source" id="coApplicant_other_income_type">
            </div>


            <div class="col-lg-4 col-md-6 col-xs input-group mb-3 input-group-prepend">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Mthly. Income" id="coApplicant_other_income_type_amt">
            </div>

            <div class="col-lg-2 col-md-12 col-xs btn-group mb-3 input-group-prepend">
              <button onclick="addItem2()" class="btn btn-primary btn-sm" type="button">Add Income</button>
            </div>

            <div class="col-lg-2 col-md-12 col-xs btn-group mb-3 input-group-prepend">
              <button onclick="removeItem2()" class="btn btn-danger btn-sm" type="button">Remove Income</button>
            </div>

            <div>
              <ul id="dynamic-list2"></ul>
              <p id="b2_otherIncome"></p>
            </div>

            <div class="row input-group">

              <div id="coappAssetDIV" class="col-lg-6 col-md-6 col-xs mb-3 input-group input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Total Assets" id="CoTotalAssets">
              </div>

              <div id="coappLiabilitiesDIV" class="col-lg-6 col-md-6 col-xs mb-3  input-group input-group-prepend">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Total Mthly. Liabilities" id="CoTotalMonthlyLiabilities">
              </div>

            </div>

          </div>
        </form>
      </div>




      <!-- <input id='btn1' type="button" value="J-test" onclick="addOtherIncome();"> -->

      <!-- Analyze---BUTTON Start-->
      <!-- <input id='btn' class='btn-outline-danger' type="button" value="FORM TO JSON"> -->
      <button id="reportGen" type="submit" class="btn btn-primary btn-sm btn-block mb-3" onclick="showLoader();tenYts(); B2_OtherIncome(); B1_OtherIncome(); getPDF();">Analyze</button>
    </form>
    <!-- Analyze---BUTTON  End-->




    <!-- Breakdown Table START-->
    <div id='breakdown' class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">

      <!-- Home Loan Data CARD Start -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card mb-3">
          <img id='Home_Loan_Data_Image' class="card-img-top" src="../img/1fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Home Loan Data</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

          <!-- ******************************PURCHASE TABLE**************************** -->
          <table id="purchase" class="table-hover table-bordered">
            <tbody class="tablel">
              <tr>
                <th class=" text-center" colspan="2">Home Loan Data <span>Purchase</span></th>
              </tr>
              <tr>
                <td>Purchase Price</td>
                <td><span></span><span id="TPurchasePrice"></span></td>
              </tr>
              <tr>
                <td>Down Payment</td>
                <td><span></span><span id="TDownPayment"></span></td>
              </tr>
              <tr>
                <td>Loan Amount</td>
                <td><span></span><span id="TLoanAmount"></span></td>
              </tr>
              <tr>
                <td>Term (Months)</td>
                <td id="TermYears"></td>
              </tr>
              <tr>
                <td>Interest Rate</td>
                <td><span id='TInterestRate'></span><span>%</span></td>
              </tr>
              <tr>
                <td>Mthly. Principle &amp; Interest</td>
                <td id="TPrinciple&Interest"></td>
              </tr>
              <tr>
                <td>Mthly. Property Tax</td>
                <td id="PropertyTx"><span></span><span></span></td>
              </tr>
              <tr>
                <td>Mthly. Homeowners Insur.</td>
                <td id="HOI_Dues"><span></span><span></span></td>
              </tr>
              <tr>
                <td>Mthly. Homeowners Ass.</td>
                <td id="HOA_dues"><span></span><span></span></td>
              </tr>
              <tr>
                <td>Mthly. P.T.I.A</td>
                <td id="purchasePITIA"><span></span><span></span></td>
              </tr>
              <tr>
                <td>Total Interest</td>
                <td><span></span><span id="totalIntPaid"></span></td>
              </tr>
              <tr>
                <td>Total Payments</td>
                <td><span></span><span id="totalNumPmt"></span></td>
              </tr>
              <tr>
                <td>LTV (Loan To Value)</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td id=""><span></span><span></span></td>
              </tr>
            </tbody>
          </table>

          <!-- ******************************REFI TABLE**************************** -->

          <table id="refinance" class="table table-bordered">
            <tbody class="table-sm">
              <tr>
                <th class="text-center" colspan="2">Home Loan Data <span>Refinance</span></th>
              </tr>
              <tr>
                <td>Original Purchase Price</td>
                <td><span></span><span id=""></span></td>
              </tr>
              <tr>
                <td>Home Value</td>
                <td><span></span><span id=""></span></td>
              </tr>
              <tr>
                <td>Mortgage Balance</td>
                <td><span></span><span id=""></span></td>
              </tr>
              <tr>
                <td>Mortgage Payment</td>
                <td id=""></td>
              </tr>
              <tr>
                <td>Current Interest Rate</td>
                <td><span id=''></span><span>%</span></td>
              </tr>
              <tr>
                <td>Property Taxes</td>
                <td id=""></td>
              </tr>
              <tr>
                <td>Mthly. Homeowners Insur.</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>Mthly. Homeowners Ass.</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>Mthly. P.T.I.A</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td><span></span><span id=""></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td><span></span><span id=""></span></td>
              </tr>
              <tr>
                <td>?)</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td id=""><span></span><span></span></td>
              </tr>
              <tr>
                <td>?</td>
                <td id=""><span></span><span></span></td>
              </tr>
            </tbody>
          </table>

          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <!-- Home Loan Data CARD Ends-->

      <!-- Current Financial Snapshot Start-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-3">
          <img class="card-img-top" src="../img/1fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Current Financial Snapshot</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <table class="table table-bordered">
            <tbody class="table-sm">
              <tr>
                <th class="text-center" colspan="2">Current Financial Snapshot</th>
              </tr>
              <tr>
                <td class="text-center" colspan="2">Income</td>
              </tr>
              <tr>
                <td>Applicant Total Income</td>
                <td id="AppIncome">$</td>
              </tr>
              <tr>
                <td colspan="2">2</td>
                <!-- <td>$</td> -->
              </tr>
              <tr>
                <td>Co-Applicant Income</td>
                <td id="coAppIncome">$</td>
              </tr>
              <tr>
                <td colspan="2">4</td>
                <!-- <td >$</td> -->
              </tr>
              <tr>
                <td class="text-center" colspan="2">Assets</td>
              </tr>
              <tr>
                <td>Applicant Assets</td>
                <td id="AppTotalAssets">$</td>
              </tr>
              <tr>
                <td colspan="2">?</td>
                <!-- <td ">$</td> -->
              </tr>
              <tr>
                <td>Co-Applicant Assets</td>
                <td id="CoAppTotalAssets"></td>
              </tr>
              <tr>
                <td colspan="2">?</td>
                <!-- <td ">$</td> -->
              </tr>
              <tr>
                <td class="text-center" colspan="2">Liabilities</td>
              </tr>
              <tr>
                <td>Applicant Liabilities</td>
                <td id="AppTotalLiabilities"></td>
              </tr>
              <tr>
                <td colspan="2">?</td>
                <!-- <td ">$</td> -->
              </tr>
              <tr>
                <td>Co-Applicant Liabilities</td>
                <td id="CoAppTotalLiabilities"></td>
              </tr>
              <tr>
                <td colspan="2">?</td>
                <!-- <td>$</td> -->
              </tr>
            </tbody>
          </table>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <!-- Current Financial Snapshot Ends -->

      <!-- Analysis Summary CARD Start -->
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card mb-3">
          <img class="card-img-top" src="../img/1fff.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Analysis Summary</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <table class="table table-bordered">
            <tbody class="table-sm">
              <tr>
                <th class=" text-center" colspan=" 2" scope="row">Analysis Summary</th>
              </tr>
              <tr>
                <td>Total Income</td>
                <td id="grandTotalincome">$</td>
              </tr>
              <tr>
                <td>Total Liabilities</td>
                <td id="grandTotalLiabilities"></td>
              </tr>
              <tr>
                <td class="text-center" colspan="2">Current Debt to Income Ratio</td>
              </tr>
              <tr>
                <td class=" text-center" id="currentRatio" colspan="2">%</td>
              </tr>
              <tr>
                <td>Total Income</td>
                <td id="grandTotalincomeRatio"></td>
              </tr>
              <tr>
                <td>Total Liabilities</td>
                <td id="grandTotalLiabilitiesRatio"></td>
              </tr>
              <tr>
                <td>P.T.I.A <span>+</span>Total Liabilities</td>
                <td id="grandTotal_PITIA_Ratio"> $</td>
              </tr>
              <tr>
                <td class="text-center" colspan="2">Projected Debt to Income Ratio</td>
              </tr>
              <tr>
                <td class=" text-center" id="pDTI" colspan=" 2">%</td>
              </tr>
              <tr>
                <td class="text-center" colspan="2">Credit Score</td>
              </tr>
              <tr>
                <td>Equifax</td>
                <td id="Eqfax_fico">000</td>
              </tr>
              <tr>
                <td>Transunion</td>
                <td id="TransU_fico">000</td>
              </tr>
              <tr>
                <td>Experian</td>
                <td id="Expri_fico">000</td>
              </tr>
              <tr>
                <td>Middle Score</td>
                <td id="mid_fico">000</td>
              </tr>
              <tr>
                <td id="">?</td>
                <td><span></span><span></span></td>
              </tr>
            </tbody>
          </table>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <!-- Analysis Summary CARD Ends -->
    </div>
    <!-- Breakdown Table END-->





    <!-- See more---BUTTON -->
    <input type="button" id='submit' value="See more details...." class="input btn btn-primary btn-lg" />

    <!-- Loan Amortization Canvas START-->
    <canvas id="myChart"></canvas>
    <!-- <canvas id="myChart2"></canvas> -->
    <!-- Loan Amortization Canvas ENDS-->

    <div id="T4506T_Condition">
      <div id="result2"></div>
      <ul id="items"></ul>
    </div>

    <div id="SSA_Condition">
      <div id="result3"></div>
      <ul id="items2"></ul>
    </div>

    <div id="BorrowerCerti_Condition">
      <div id="result4"></div>
      <ul id="items3"></ul>
    </div>






    <!-- Loan Amortization Table START-->
    <div id="container">
      <div class="jumbotron">
        <h1 class="display-4">Amortization Table</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <!-- loan form will be here -->
        <div class="row">


          <div class="col">
            <div id="loan_src">
              <form name="loan_form">
                <table style="margin:20px;">
                  <div class="input-group">
                    <tr>
                      <td>Loan Amount:</td>
                      <td><input type="text" id='loan_amt' name="loan_amt" class="inputs form-control" /></td>
                    </tr>
                  </div>

                  <tr>
                    <td>Number of Months:</td>
                    <td><input type="text" id='months' name="months" size="10" class="inputs form-control" /></td>
                  </tr>

                  <tr>
                    <td>Annual Interest Rate: <br /><span style="font-size:80%">(ex. 4.5% = 4.5)</span></td>
                    <td><input type="text" id="rate" name="rate" size="10" class="inputs form-control" /></td>
                  </tr>

                  <tr>
                    <td>Extra Monthly Payment:</td>
                    <td><input type="text" id='extra' name="extra" size="10" value="0" class="inputs form-control" /></td>
                  </tr>

                  <tr>
                    <td><input type="button" id='submit' onclick="validate()" value="Calculate" class="input btn btn-primary btn-sm" /></td>
                    <!-- <td><input type="button" id='reset' onclick="startOver()" value="Start Over" class="input" /></td> -->
                  </tr>
                </table>
              </form>
            </div>
          </div>
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
          <!-- <input type="button" id='submit' onclick="validate()" value="Calculate" class="input btn btn-primary btn-lg" /> -->


          <div class="col">
            <div id="loan_info">
              <div id="dialog" title="Basic dialog">
                <p id='amt'></p>
                <p id='numMonths'></p>
                <p id='interestRate'></p>
                <p id='extraPayment'></p>
              </div>
            </div>
          </div>
        </div>


      </div>










      <!-- loan info will be START here -->


      <div id="table_header  text-center">
        <table class="table  text-center">
          <thead class="thead-light text-center">
            <tr class="text-center">
              <th>No.</th>
              <th>Payment Date</th>
              <th>Payment</th>
              <th>Principal</td>
              <th>Interest</td>
              <th>Interest Paid</td>
              <th>Balance</td>
            </tr>
          </thead>
        </table>
      </div>

      <div id="table" class="table_info"></div>
    </div>
    <!-- Loan Amortization Table END-->









    <input id='TEST_btn' type="button" value="GET Your Report" onclick="storeLoandata();ProposalGen()">
    <div id="result">X</div>

    <div id="appDataJson"></div>
  </div>
  {{!-- <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase.js"></script> --}}
  <script src="../scripts/numeral.js"></script>

  {{!-- <script src="../scripts/scripts.js"></script> --}}
 
 



</body>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyD5Oy9j8olWHZ5CfGISn4XSswsMLiQdISg",
    authDomain: "lendme360.firebaseapp.com",
    databaseURL: "https://lendme360.firebaseio.com",
    projectId: "lendme360",
    storageBucket: "lendme360.appspot.com",
    messagingSenderId: "1097345151286",
    appId: "1:1097345151286:web:2247592c3c16721114c397"
  };
  
  firebase.initializeApp(firebaseConfig);
  
  var myLoan360 = firebase.database();
  var auth = firebase.auth();
  var db = firebase.firestore();
  
  function handleLogin() {
    var email = $('#inputEmail').val()
    var password = $('#inputPassword')
    console.log("Email : " + email + "  Password : "  + password)

}


  var forms = document.getElementsByClassName('needs-validation');
  // Loop over them and prevent submission
  var validation = Array.prototype.filter.call(forms, function (form) {
    form.addEventListener('submit', function (event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
  
  
  
  
  
  
  
  
  var b1_employer_name = document.getElementById("Applicant-Employer").value;
  var b1_job_title = document.getElementById("Applicant-Job-title").value;
  var b1_timeOnJob = document.getElementById("Time-on-Job").value;
  var b2_timeOnJob = document.getElementById("CoTime-on-Job").value;
  var purch_purcahse_price = document.getElementById("PurchasePrice").value;
  // var purch_home_value = document.getElementById('').value;
  var purch_downpayment = document.getElementById("DownPayment").value;
  var purch_fin_amt = document.getElementById("LoanAmount").value;
  // var purch_mtg_mthly_pmt = document.getElementById('').value;
  var purch_interest_rate = document.getElementById("InterestRate").value;
  // var purch_property_tax = document.getElementById('').value;
  // var purch_hoi = document.getElementById('').value;
  // var purch_hoa = document.getElementById('').value;
  
  var refi_purcahse_price = document.getElementById("OriginalPurchasePrice_refi").value;
  var refi_home_value = document.getElementById("HomeValue_refi").value;
  var refi_mtg_bal = document.getElementById("MortgageBalance_refi").value;
  var refi_mtg_mthly_pmt = document.getElementById("MortgagePayment_refi").value;
  var refi_interest_rate = document.getElementById("InterestRate_refi").value;
  var refi_property_tax = document.getElementById("PropertyTaxes_refi").value;
  var refi_hoi = document.getElementById("HomeownersInsurance_refi").value;
  var refi_hoa = document.getElementById("HOADues_refi").value;
  
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  // var b1_employer_name = document.getElementById('').value;
  
  // document.getElementById("AppIncome").innerHTML = b1_employer_income;
  
  // Transaction Type Functions (Pur-Refi & HELOC)
  
  function TransactionTypePurchase() {
    const radioPurchase = document.getElementById("Purchase");
    const TABLErefinance = document.getElementById('refinance')
    const TABLEpurchase = document.getElementById('purchase')
    var Refi = document.getElementById("Refi");
    if (radioPurchase.checked === true) {
      // console.log('DELROY');
      purchasePreQual.style.display = "block";
      Refi.style.display = "none";
      TABLErefinance.style.display = "none"
      TABLEpurchase.style.display = "block"
    } else {
      Refi.style.display = "block";
      TABLErefinance.style.display = "block"
      // console.log('NOT WORKING');
    }
  }
  TransactionTypePurchase();
  
  function TransactionTypeRefinance() {
    const radioRefinance = document.getElementById("Refinance");
    const purchasePreQual = document.getElementById('purchasePreQual')
    const TABLErefinance = document.getElementById('refinance')
    const TABLEpurchase = document.getElementById('purchase')
    var Refi = document.getElementById("Refi");
    if (radioRefinance.checked === true) {
      // console.log('Refinance');
      Refi.style.display = "block";
      purchasePreQual.style.display = "none"
      TABLEpurchase.style.display = "none"
      TABLErefinance.style.display = "block"
  
    } else {
      Refi.style.display = "none";
      // console.log('Refinance NOT WORKING');
      purchasePreQual.style.display = "block";
      TABLErefinance.style.display = "none"
    }
  }
  TransactionTypeRefinance();
  
  // Joint-Applicant Functions
  // B1
  function TransactionApplicant() {
    const singleRadioApplicant = document.getElementById("SingleRadio");
    const coAppIncomeRequired = document.getElementById('CoApplicantIncome');
    var B2 = document.getElementById("Co-Applicant-Employer");
  
    if (singleRadioApplicant.checked === true) {
      // console.log('B1');
      B2.style.display = "none";
      coAppIncomeRequired.removeAttribute("required");
    } else {
      Refi.style.display = "block";
  
    }
  }
  TransactionTypeRefinance();
  
  // Joint-Applicant Functions
  // B2
  function TransactionApplicantJoint() {
    const coAppIncomeRequired = document.getElementById('CoApplicantIncome');
    const jointRadioApplicant = document.getElementById("JointRadio");
    var B2 = document.getElementById("Co-Applicant-Employer");
    if (jointRadioApplicant.checked === true) {
      // console.log('B2');
      B2.style.display = "block";
      // coAppIncomeRequired.setAttribute("required", "required");
      coAppIncomeRequired.required = true;
    } else {
      Refi.style.display = "none";
      // coAppIncomeRequired.removeAttribute("id");
    }
  
    // Table input Functions
  
    var purchasePrice = document.getElementById("PurchasePrice").value;
    // console.log(purchasePrice);
  
    document.getElementById("TPurchasePrice").innerHTML = accounting.formatMoney(
      purchasePrice
    );
  
    var downPayment = document.getElementById("DownPayment").value;
    // console.log(downPayment);
    document.getElementById("TDownPayment").innerHTML = accounting.formatMoney(
      downPayment
    );
  
    var loanAmt = purchasePrice - downPayment;
    // console.log("Loan Amt is " + loanAmt);
    document.getElementById("TLoanAmount").innerHTML = accounting.formatMoney(
      loanAmt
    );
  
    var rate = document.getElementById("InterestRate").value;
    document.getElementById("TInterestRate").innerHTML = rate;
  
    // Table input Terms
  }
  TransactionApplicantJoint();
  function showLoader() {
     document.getElementById('loadingScreen').style.display = "flex"
  }
  function tenYts() {
    
    document.getElementById('progressText').innerHTML = "Collecting Information..."
    var purchasePrice = parseInt(document.getElementById("PurchasePrice").value);
    // console.log(purchasePrice);
    // document.getElementById("TPurchasePrice").innerHTML = purchasePrice
    document.getElementById("TPurchasePrice").innerHTML = accounting.formatMoney(
      purchasePrice
    );
  
    var downPayment = parseInt(document.getElementById("DownPayment").value);
    // console.log(downPayment);
    document.getElementById("TDownPayment").innerHTML = accounting.formatMoney(
      downPayment
    );
  
    var loanAmt = purchasePrice - downPayment;
    // console.log("Loan Amt is " + loanAmt);
    document.getElementById("TLoanAmount").innerHTML = accounting.formatMoney(
      loanAmt
    );
    //Home Loan Data table insert--ENDS
  
    var rate = document.getElementById("InterestRate").value;
    var rateR = rate / 100 / 12;
    document.getElementById("TInterestRate").innerHTML = rate;
  
    const t10 = document.getElementById("_10Years");
    const t15 = document.getElementById("_15Years");
    const t20 = document.getElementById("_20Years");
    const t30 = document.getElementById("_30Years");
  
    if ((rateR, purchasePrice, loanAmt == "" || 0)) {
      document.getElementById("totalIntPaid").innerHTML = "";
      document.getElementById("totalNumPmt").innerHTML = "";
      document.getElementById("TPrinciple&Interest").innerHTML = "";
      document.getElementById("TermYears").innerHTML = "";

    } else if (t10.checked == true) {
      var Term_10 = document.getElementById("_10Years").value;
      var Term_10Num = Number(Term_10) * 12;
      var p = Math.pow(1 + rateR, Term_10Num);
      var mPmt = (loanAmt * p * rateR) / (p - 1);
      document.getElementById("TermYears").innerHTML = Term_10Num;
  
      document.getElementById(
        "TPrinciple&Interest"
      ).innerHTML = accounting.formatMoney(mPmt);
      var totalNumPmt = Math.round(mPmt * Term_10Num);
      document.getElementById("totalNumPmt").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
      var totalNumInt = Math.round(mPmt * Term_10Num - loanAmt);
      document.getElementById("totalIntPaid").innerHTML = accounting.formatMoney(
        totalNumInt
      );
    } else if (t15.checked == true) {
      var Term_15 = document.getElementById("_15Years").value;
      var Term_15Num = Number(Term_15) * 12;
      var p = Math.pow(1 + rateR, Term_15Num);
      var mPmt = (loanAmt * p * rateR) / (p - 1);
      document.getElementById("TermYears").innerHTML = Term_15Num;
  
      document.getElementById(
        "TPrinciple&Interest"
      ).innerHTML = accounting.formatMoney(mPmt);
      var totalNumPmt = Math.round(mPmt * Term_15Num);
      document.getElementById("totalNumPmt").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
      var totalNumInt = Math.round(mPmt * Term_15Num - loanAmt);
      document.getElementById("totalIntPaid").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
    } else if (t20.checked == true) {
      var Term_20 = document.getElementById("_20Years").value;
      var Term_20Num = Number(Term_20) * 12;
      var p = Math.pow(1 + rateR, Term_20Num);
      var mPmt = (loanAmt * p * rateR) / (p - 1);
      document.getElementById("TermYears").innerHTML = Term_20Num;
  
      document.getElementById(
        "TPrinciple&Interest"
      ).innerHTML = accounting.formatMoney(mPmt);
      var totalNumPmt = Math.round(mPmt * Term_20Num);
      document.getElementById("totalNumPmt").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
      var totalNumInt = Math.round(mPmt * Term_20Num - loanAmt);
      document.getElementById("totalIntPaid").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
    } else {
      t30.checked == true;
      var Term_30 = document.getElementById("_30Years").value;
      var Term_30Num = Number(Term_30) * 12;
      var p = Math.pow(1 + rateR, Term_30Num);
      var mPmt = (loanAmt * p * rateR) / (p - 1);
      document.getElementById("TermYears").innerHTML = Term_30Num;
  
      document.getElementById(
        "TPrinciple&Interest"
      ).innerHTML = accounting.formatMoney(mPmt);
      var totalNumPmt = Math.round(mPmt * Term_30Num);
      document.getElementById("totalNumPmt").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
      var totalNumInt = Math.round(mPmt * Term_30Num - loanAmt);
      document.getElementById("totalIntPaid").innerHTML = accounting.formatMoney(
        totalNumPmt
      );
    }
document.getElementById('progressText').innerHTML = "Generating Report..."
    // var TermMonths = document.getElementById("TermYears").value;
    // var term = TermMonths;
  }
  tenYts();
  
  // ******************Chart.JS********************
  
  // <!--Applicant-Other Income START-->
  function addItem() {
    var ul = document.getElementById("dynamic-list");
    var applicant_other_income_type = document.getElementById("applicant_other_income_type");
    var applicant_other_income_type_amt = document.getElementById("applicant_other_income_type_amt");
    var li = document.createElement("li");
    li.setAttribute("id", applicant_other_income_type.value + "hr");
    li.setAttribute("value", applicant_other_income_type_amt.value);
  
  
  
    li.appendChild(document.createTextNode(applicant_other_income_type.value + " " + applicant_other_income_type_amt.value));
    ul.appendChild(li);
  }
  
  function removeItem() {
    var ul = document.getElementById("dynamic-list");
    var applicant_other_income_type = document.getElementById("applicant_other_income_type");
    var item = document.getElementById(applicant_other_income_type.value);
    ul.removeChild(item);
  }
  
  function B1_OtherIncome() {
    let m = [
      ...document.querySelector("#dynamic-list").children
    ];
    let total = 0;
    let val = " ";
    for (let {
        key,
        value
      } of Object.values(m)) {
      val += m.values.value;
      var result = value;
  
      console.log(result);
  
      total += value;
  
      console.log(total);
    };
    document.getElementById('b1_otherIncome').innerHTML = total;
  };
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  // <!--CoApplicant-Other Income START-->
  function addItem2() {
    var ul = document.getElementById("dynamic-list2");
    var coApplicant_other_income_type = document.getElementById("coApplicant_other_income_type");
    var coApplicant_other_income_type_amt = document.getElementById("coApplicant_other_income_type_amt");
  
    var li = document.createElement("li");
  
    li.setAttribute("id", coApplicant_other_income_type.value + "hr");
    li.setAttribute("value", coApplicant_other_income_type_amt.value);
  
    li.appendChild(document.createTextNode(coApplicant_other_income_type.value + " " + coApplicant_other_income_type_amt.value));
    ul.appendChild(li);
  }
  
  function removeItem2() {
    var ul = document.getElementById("dynamic-list2");
    var coApplicant_other_income_type = document.getElementById("coApplicant_other_income_type");
    var item = document.getElementById(coApplicant_other_income_type.value);
    ul.removeChild(item);
  }
  
  // function applicantOtherIcome() {
  //   var ul = document.getElementById("otherIncomeB");
  //   var opt = document.getElementById("opt1");
  //   var optIncomeType = document.getElementById("opt1").value;
  //   var opt1IncomeAmt = document.getElementById("Applicant-Job-Income").value;
  //   var opt1Incomeb1 = document.createElement("li");
  //   opt1Incomeb1.setAttribute("id", opt.value);
  //   opt1Incomeb1.appendChild(document.createTextNode(optIncomeType +" "+opt1IncomeAmt));
  //   // opt1Incomeb1.appendChild(document.createTextNode(opt1IncomeAmt));
  //   ul.appendChild(opt1Incomeb1);
  
  // ********************OTHER INCOME*******************
  function B2_OtherIncome() {
    let m = [
      ...document.querySelector("#dynamic-list2").children
    ];
    let total = 0;
    let val = " ";
    for (let {
        key,
        value
      } of Object.values(m)) {
      val += m.values.value;
      var result = value;
  
      console.log(result);
  
      total += value;
  
      console.log(total);
    };
    document.getElementById('b2_otherIncome').innerHTML = total;
  };
  //   console.log(eval(val));
  // };
  
  // for (value of  Object.values(val)){
  //   console.log(value);
  // };c
  // const form = document.getElementById('masterForm')[0];
  // const data =formDataAsJson(form);
  
  
  function storeLoandata() {
    var loandata = myLoan360.ref('lendme360');
    loandata.push(loanapps, finished);
  
    var loanAppdata = myLoan360.ref('lendme360/LoanApps');
    loanAppdata.push(loanapps, finished);
  
    function finished(error) {
      if (error) {
        console.log('ooops');
      } else {
        console.log('data saved!');
      }
    }
  }
  
  
  
  let loanapps = [];
  
  function addloan(e) {
    e.preventDefault();
  
    var app = {
      id: Date.now(),
  
      TransactionType: document.querySelector('input[name ="TransactionType"]:checked').value,
      PropertyType: document.querySelector('input[name ="PropertyType"]:checked').value,
      Occupancy: document.querySelector('input[name ="Occupancy"]:checked').value,
      LoanTerms: document.querySelector('input[name ="LoanTerms"]:checked').value,
  
      PurchasePrice: document.getElementById('PurchasePrice').value,
      DownPayment: document.getElementById('DownPayment').value,
      LoanAmount: document.getElementById('LoanAmount').value,
      InterestRate: document.getElementById('InterestRate').value,
  
      OriginalPurchasePrice_refi: document.getElementById('OriginalPurchasePrice_refi').value,
      HomeValue_refi: document.getElementById('HomeValue_refi').value,
      MortgageBalance_refi: document.getElementById('MortgageBalance_refi').value,
      MortgagePayment_refi: document.getElementById('MortgagePayment_refi').value,
      InterestRate_refi: document.getElementById('InterestRate_refi').value,
  
      Num_applicants: document.querySelector('input[name ="Num_applicants"]:checked').value,
      CurrentResidency: document.querySelector('input[name ="CurrentResidency"]:checked').value,
      Real_Estate_Own: document.querySelector('input[name ="Real_Estate_Own"]:checked').value,
  
      Applicant_Employer: document.getElementById('Applicant-Employer').value,
      Applicant_Job_title: document.getElementById('Applicant-Job-title').value,
      Time_on_Job: document.getElementById('Time-on-Job').value,
      ApplicantIncome: document.getElementById('ApplicantIncome').value,
      Applicant_other_income_type: document.getElementById('applicant_other_income_type').value,
      Applicant_other_income_type_amt: document.getElementById('applicant_other_income_type_amt').value,
      B1TotalAssets: document.getElementById('b1TotalAssets').value,
      B1TotalMonthlyLiabilities: document.getElementById('b1TotalMonthlyLiabilities').value,
  
      CoApplicant_Employer: document.getElementById('CoApplicantEmployer').value,
      CoApplicant_Job_title: document.getElementById('CoApplicant-Job-title').value,
      CoTime_on_Job: document.getElementById('CoTime-on-Job').value,
      ApplicantIncome: document.getElementById('CoApplicantIncome').value,
      CoApplicant_other_income_type: document.getElementById('coApplicant_other_income_type').value,
      CoApplicant_other_income_type_amt: document.getElementById('coApplicant_other_income_type_amt').value,
      B2TotalAssets: document.getElementById('CoTotalAssets').value,
      B2TotalMonthlyLiabilities: document.getElementById('CoTotalMonthlyLiabilities').value,
  
    }
    loanapps.push(app);
    document.forms[0].reset();
  
    console.warn('Submitted', {
      app
    });
  
    var newapps = document.getElementById('appDataJson');
    newapps.textContent = '\n' + JSON.stringify(loanapps, '\t', 2);
    console.log(newapps.textContent = '\n' + JSON.stringify(loanapps, '\t', 2));
    storeLoandata()
  }
  // document.getElementById('btn').addEventListener('click', addloan);
  
  
  
  // function ProposalGen() {
  //   html2canvas(document.querySelector("#entireSite")).then(canvas => {
  //     // document.body.appendChild(canvas);
  //     var imgData = canvas.toDataURL('image/JPEG');
  //     // console.log(imgData);
  //     var doc = new jsPDF({
  //         orientation: 'p',
  //         unit: 'in',
  //         format: 'legal',
  //         alias: '1',
  //         compression: 'FAST',
  //         // putOnlyUsedFonts: true
  //         // floatPrecision: 5 // or "smart", default is 16
  //       }
  
  //     );
  //     doc.addImage(imgData, 'JPEG', 0.20, 0.35, 5, 14);
  //     doc.save('sample-file1.pdf');
  //   });
  // }
  
  
  function getPDF() {
    document.getElementById('progressText').innerHTML = "Generating PDF format..."
    var HTML_Width = $("#entireSite").width();
    var HTML_Height = $("#entireSite").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;
  
    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
  
  
    html2canvas($("#entireSite")[0], {
      allowTaint: true
    }).then(function (canvas) {
      canvas.getContext('2d');
  
      console.log(canvas.height + "  " + canvas.width);
  
  
      var imgData = canvas.toDataURL("image/jpeg", 1.0);
      var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
      pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
  
  
      for (var i = 1; i <= totalPDFPages; i++) {
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
      }
      // pdf.save("HTML-Document.pdf");
      var blob = pdf.output('blob');
      var date = new Date()
      const reportId = Date.now()
      firebase.auth().onAuthStateChanged(user => {
        document.getElementById('progressText').innerHTML = "Saving your File..."
         document.getElementById('progressBar').style.display = "block"
        if(user) {
          console.log("Uploading file for " + user.uid)
          var storage = firebase.storage().ref('user-reports/' + user.uid + "/" + reportId)
          var process = storage.put(blob)
          process.on('state_changed',
            function progress(snapshot) {
                  var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
                  console.log("Uploading file...   " + percentage.toFixed( 2 ) + "% completed")
                  document.getElementById('progressBar').value = percentage.toFixed( 2 )
                   document.getElementById('progressPercentage').innerHTML = percentage.toFixed( 2 )
            },
            function err(err) {
              console.log("ERROR  :  " + err)
            },
            function complete(){
              const obj = {
                reports : [{
                  id : reportId, uploadDate : new Date().toString(), purchased : false
                }] 
              }
              const arrayUnion = firebase.firestore.FieldValue.arrayUnion;
              db.collection('users')
                .doc(user.uid)
                .update(
                  { reports: arrayUnion({id : reportId, uploadDate : new Date().toString(), purchased : false }) },
                )

              document.getElementById('progressText').innerHTML = "Report has been saved succefully"
              document.getElementById('loader').style.display = "none"
              document.getElementById('progressPercentage').innerHTML = "100%"
              document.getElementById('progressBar').value = 100
              document.getElementById('viewReport').style.display = "block"
              console.log('File Succefully uploaded')

              
            }
          )
        }
      })
  
    });
  
  console.log('Exited')
  };
  
  
  
  // function printPDF(){
  //     const domElement = document.getElementById('entireSite');
  //     html2canvas(domElement, {onclone: (document) => {
  //       document.getElementById('TEST_btn2').style.visibility = 'hidden';
  // }})
  //     .then((canvas) => {
  //         const img = canvas.toDataURL('image/png');
  //         const pdf = new jsPDF();
  //         pdf.addImage(imgData, 'JPEG', 0, 0);
  //         pdf.save('your-filename.pdf');
  // });
  // }
</script>
 <script src="../scripts/auth.js"></script>
  <script src="../scripts/LoanAppDataDisplay.js"></script>
  <script src="../scripts/graph.js"></script>
  <script src="../scripts/LoanAm.js"></script>
  {{!-- <script src="jQuery.js"></script> --}}
  <script src="../scripts/jquery-3.5.1.slim.min.js"></script>
</html>