<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <title>Download Report</title>
</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>

    {{!-- <script src="scripts.js"></script> --}}
</body>
<script>
    function toggleResetPswd(e) {
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle() // display:block or none
        $('#logreg-forms .form-reset').toggle() // display:block or none
    }

    function toggleSignUp(e) {
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle(); // display:block or none
        $('#logreg-forms .form-signup').toggle(); // display:block or none
    }

    $(() => {
        // Login Register Form
        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
        $('#logreg-forms #cancel_reset').click(toggleResetPswd);
        $('#logreg-forms #btn-signup').click(toggleSignUp);
        $('#logreg-forms #cancel_signup').click(toggleSignUp);
    })

    var firebaseConfig = {
        apiKey: "AIzaSyD5Oy9j8olWHZ5CfGISn4XSswsMLiQdISg",
        authDomain: "lendme360.firebaseapp.com",
        databaseURL: "https://lendme360.firebaseio.com",
        projectId: "lendme360",
        storageBucket: "lendme360.appspot.com",
        messagingSenderId: "1097345151286",
        appId: "1:1097345151286:web:2247592c3c16721114c397"
    }
if (!firebase.apps.length)
    firebase.initializeApp(firebaseConfig)

    var db = firebase.firestore();
    var auth = firebase.auth();
    var storage = firebase.storage();
const url_params = new URLSearchParams(window.location.search)
const report_id = url_params.get('report_id')
console.log("The report id is => " + report_id)
auth.onAuthStateChanged(user => {
if(user) {
    data = {
        "id" : report_id,
        "uid" : user.uid
    }
    fetch("http://localhost:5000/get-reportRef",{
        method : 'post',
        body : JSON.stringify({
             "id" : report_id,
             "uid" : user.uid
        })
     })
    .then(result => result.json())
    .then(ref => {
        console.log(ref)
    })

    console.log("USER Logged in " + user.uid)
    var url = `user-reports/${user.uid}/${report_id}`

storage.ref(url).getDownloadURL()
  .then((url) => {
    console.log(url)
  })
  console.log(123)
}
})




</script>
<style>
    .loading {
        width: 300px;
        height: 300px;
        border: 3px solid #000;
        border-radius: 50%;
    }
</style>

</html>