<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome | Home</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/navbar.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Company Name</h3>
            </div>
            <ul class="list-unstyled components">
                <p>Some Heading</p>
                <li class="active">
                    <a href="#homeSubmenu">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Career</a>
                </li>
                 <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Generate Reports</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <a class="navbar-brand" href="/">LOGO</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                        <ul class="navbar-nav nav-items mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">About
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Career</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Partnership</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav navbar-right mr-auto ml-auto nav-flex-icons">
                            <li class="nav-item">
                                <a href="/login" class="btn-login">LOGIN</a>
                            </li>
                            <li class="nav-item">
                               <i class="fas fa-search fa-lg"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {{!-- Body of the html page --}}
    <!-- Masthead -->
<div class="jumbotron text-center hoverable p-4">
  <div class="row">
    <div style="align-self: center;" class="col-md-7 text-md-left ml-3 mt-3">
      
      <h1 class="h1 mb-4">LOWEST RATE MORTGAGE</h1>

      <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem dolor, egestas in porttitor non, ullamcorper eu eros. Suspendisse id quam nisi. Nulla sit amet. </p>
      {{!-- <p class="font-weight-normal">by <a><strong>Delroy Pearson</strong></a></p> --}}

      <a style="color: #fafafa;" class="btn btn-primary btn-lg read-more">Read more</a>

    </div>
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <!-- Featured image -->
      <div class="view overlay">
        <img src="img/jumbotron.png" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</div>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
        </script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>
</body>
<style>
    .navbar {
        padding: 10px;
        background-color: #fafafa;
    }

    .nav-item .nav-link {
        font-size: 18px;
    }

    .btn-login {
        background-color: #000;
        color: #fafafa;
        font-weight: bolder;
        border-radius: 0px;
        padding: 5px 15px 5px 15px;
        border: 0px;
        margin: 0px 10px 0px 10px !important;
        margin-top: 10px !important;

    }
  .btn-login:hover {
      background-color: rgba(0, 0, 0, 0.6);
      color:  #fafafa;
  }

    .search-icon {
        color: #000;
        margin-top: 0px;
    }
.read-more {
    padding: 10px 35px 10px 35px !important;
}
    .nav-items {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .nav-items li {
        margin: 0px 15px 0px 15px;
    }

    .nav-items li a {
        color: #000 !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.nav-items li a:hover{
    background-color: rgba(167, 165, 165, 0.6);
}
    .navbar-brand {
        margin-left: 30px;
        color: black;
        font-weight: bold;
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navbar-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        display: flex !important;
        justify-content :baseline !important;
    }

    .jumbotron {
        background-color: #fafafa;
        padding: 120px 20px 120px 20px !important;
    }

    .row {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
    }
</style>

</html>