<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome | Home</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/navbar.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>
</head>


<body id="mainBody" style="display: none;">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img id="photoURL" src="img/profile.png" alt="Avatar" class="avatar">
            </div>
            <ul class="list-unstyled components">
                <p id="displayName">{{user.email}}</p>
                <li>
                    <a href="/profile">Dashboard</a>
                </li>
                <li class="active">
                    <a href="/view-reports">View Reports</a>
                </li>
                <li>
                    <a href="/reports/generate">Generate Report</a>
                </li>
                <li>
                    <a href="edit-profile">Edit Profile</a>
                </li>
                <li>
                    <a href="/about">About </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/reports/generate" class="download">Generate Report</a>
                </li>
            </ul>
            <div class="user-plan">
                <div>
                    <h5>Current Plan</h5><b>Free</b>
                </div>
                <button onclick="upgradePlan()" class="btn-plan">Upgrade</button>
            </div>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">LOGO</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                        <ul class="navbar-nav nav-items mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">About
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Partnership</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav navbar-right mr-auto ml-auto nav-flex-icons">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Billings</a>
                                        <a class="dropdown-item" href="#">Statistics</a>
                                        <a class="dropdown-item" onclick="handleLogout()">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {{!-- Body of the html page --}}
            <!-- Masthead -->
            <h1 class="h1" style="margin: 20px;">Available Reports <a href="" data-toggle="tooltip" title="The file with red pdf means this file is available. You need to purchase the other reports"><i style="font-size: 18px;color : #6d7fcc" class="fa fa-info-circle"></i></a></h1>
            <div class="col-md-10 mb-4">
                <ul id="userReports" class="list-group pt-5">
                    {{!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> <i class="fa fa-file-pdf fa-2x mr-5"></i>Cras justo odio </div>
                        <button type="button" class="btn btn-flat">Buy</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> <i style="color: red;" class="fa fa-file-pdf fa-2x mr-5"></i>Cras justo odio </div>
                        <button type="button" style="color: darkgreen;" class="btn btn-flat">View</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> <i class="fa fa-file-pdf fa-2x mr-5"></i>Cras justo odio </div>
                        <button type="button" class="btn btn-flat">Buy</button>
                    </li> --}}
                </ul>
            </div>



            <div>
            </div>
</body>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
<script type="text/javascript">
    var firebaseConfig = {
        apiKey: "AIzaSyD5Oy9j8olWHZ5CfGISn4XSswsMLiQdISg",
        authDomain: "lendme360.firebaseapp.com",
        databaseURL: "https://lendme360.firebaseio.com",
        projectId: "lendme360",
        storageBucket: "lendme360.appspot.com",
        messagingSenderId: "1097345151286",
        appId: "1:1097345151286:web:2247592c3c16721114c397"
    };

    function getElement(id) {
        return document.getElementById(id)
    }
    if (!firebase.apps.length)
        firebase.initializeApp(firebaseConfig)

    var db = firebase.firestore();
    var auth = firebase.auth();
    var storage = firebase.storage();
    auth.onAuthStateChanged(user => {
        if (!user) window.location.href = "/";
        else laodPage(user.uid)
    })

    const laodPage = async (uid) => {
        const cityRef = db.collection('users').doc(uid)
        const doc = await cityRef.get()
        const userData = doc.data()
        const reports = userData.reports
        //console.log('Document data:', reports)

        const userReports = getElement('userReports')
        let dom = ``
        if(!reports.length)
        {
            dom = `<h4>No Reports found. Please create a new report <a style="color:blue" href='/reports/generate'>here</a>.`
        } else {
            reports.map(report => {
            if(report.purchased)
            {
            dom += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> <i class="fa fa-file-pdf fa-2x mr-5"></i>${report.uploadDate} </div>
                        <button type="button" onclick="viewReport(${report.id})" class="btn btn-success btn-flat">View</button>
                    </li>`
            } else {
                 dom += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> <i class="fa fa-file-pdf fa-2x mr-5"></i>${report.uploadDate} </div>
                        <button type="button" onclick="buyReport(${report.id})" class="btn btn-flat">Buy</button>
                    </li>`
            }
        })
        }
        userReports.innerHTML = dom

        const displayName = getElement('displayName')
        const photoURL = getElement('photoURL')
        const mainBody = getElement('mainBody')
        displayName.innerHTML = userData.displayName
        photoURL.src = userData.photoURL

        mainBody.style.display = "block"
    }

    function handleLogout() {
        auth.signOut()
            .then(() => {
                console.log('Logout seccessfully')
                window.location.href = "/";
            })
    }
    const upgradePlan = () => {
        window.location.href = "/buy";
    }

const viewReport = (id) => {
    console.log("I will View The report")
} 
const buyReport = (id) => {
    window.location.href = "/buy";
} 
//script for tooltip
// Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
    .navbar {
        padding: 10px;
        background-color: #fafafa;
    }

    .nav-item .nav-link {
        font-size: 18px;
    }

    .btn-login {
        background-color: #000;
        color: #fafafa;
        font-weight: bolder;
        border-radius: 0px;
        padding: 5px 15px 5px 15px;
        border: 0px;
        margin: 0px 10px 0px 10px !important;
        margin-top: 10px !important;

    }

    .btn-login:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: #fafafa;
    }

    .search-icon {
        color: #000;
        margin-top: 0px;
    }

    .dropdown-menu .dropdown-item:hover {
        cursor: pointer;
    }

    .read-more {
        padding: 10px 35px 10px 35px !important;
    }

    .nav-items {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .nav-items li {
        margin: 0px 15px 0px 15px;
    }

    .nav-items li a {
        color: #000 !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .nav-items li a:hover {
        background-color: rgba(167, 165, 165, 0.6);
    }

    .navbar-brand {
        margin-left: 30px;
        color: black;
        font-weight: bold;
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navbar-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        display: flex !important;
        justify-content: baseline !important;
    }

    .jumbotron {
        background-color: #fafafa;
        padding: 120px 20px 120px 20px !important;
    }

    .row {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .user-plan {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 8px;
    }

    .btn-plan {
        padding: 15px 10px;
        font-weight: bold;
        border-radius: 8px;
        color: #fafafa;
        font-size: 17px;
        border-width: 0px;
        border-radius: 10px;
        background-color: #6778be;
    }

    .btn-plan:hover {
        background-color: #3b477c;
    }

    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #loader {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 350px;
    }
</style>
<script>


</script>
</html>